@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-500;
  }
}
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#portals {
  z-index: 3;
}
